body {

    background-color: #385575;
}

.background-container {
    width: 100%;
    height: 65%;
    background-image: url("../assets/rancher.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    position: fixed;
    top: 5%;
}
