body {
    background-image: url("../assets/main-town-dawn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #f5e3c3; /* Old paper color */
    background-color: #0B0C2A;
    font-family: "serif";
    text-align: center;
}

.ending-container {
    display: flex;
    position: fixed;
    top: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 600px;
    height: 50vh;
    background: rgba(0, 0, 0, 0); /* Dark overlay */
}

.text-box {
    
    flex-direction: column;
    width: 80%;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    gap: 0px;
    border-radius: 10px;
    font-size: 1.5rem;

    

    text-align: right;
    margin-bottom: 10px;
}

.text-box p {
    text-align: left;
}


#nextButton {
    margin-top: 0px;
    position: relative;
    right: 1px;
    bottom: 1px;
    width: 100px;

    margin: 1px;
    padding: 1px 1px;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    border: rgba(0, 0, 0, 0.1);;
    background: rgba(0, 0, 0, 0);
    color: #f5e3c3; /* Old paper color */
    z-index: 10;
}


#wrongChoice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#rightChoice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}